ShufflerTumblr/.DS_Store

*.pbxproj

*.xcuserstate

*.xcbkptlist

.DS_Store

*.xcscheme

*.plist

*.pbxproj

*.pbxproj

ShufflerTumblr/ShufflerTumblr.xcodeproj/project.pbxproj

ShufflerTumblr/ShufflerTumblr.xcodeproj/project.pbxproj

ShufflerTumblr/ShufflerTumblr.xcodeproj/project.pbxproj
